
@model IEnumerable<PartyInvitesPractise.Models.GuestResponse>

@{
    Layout = "_Layout";
    ViewBag.Title = "List Responses"; }

    <h2>Here is the list of people attending the party</h2>  
    <table>
    <thead>
        <tr>
        <th>Name</th> 
        <th>Email</th>  
        <th>Phone</th>  
         <th>NeedsParking</th>
        <th>Vegetarian</th>
            </tr> 
        </thead> 
    <tbody>  
        @foreach (PartyInvitesPractise.Models.GuestResponse r in Model)
    {
            <tr>
        <td>@r.Name</td>
        <td>@r.Email</td>
        <td>@r.Phone</td>
        <td>@r.NeedsParking</td>
        <td>@r.isVeg</td>
                </tr>
                } 
        </tbody>   
    </table>
